<table class="table table-striped table-xs xsmall">
    <tr ng-if="(table.header)">
        <th ng-repeat="item in table.header track by $index">
            <span>{{item}}</span>
            <div ng-if="item.plotable" class="btn-group btn-group-xs">
                <button type="button" ng-click="toggleShowChart()" class="btn btn-xs"
                    ng-class="{'btn-success': !apiStart, 'btn-danger': apiStart}">
                    <span>+</span>
                </button>
            </div>
        </th>
    </tr>
    <tr ng-if="isArray(table.data) && isArray(table.data[0])" ng-repeat="dt in table.data track by $index">
        <td ng-repeat="val in dt track by $index">{{val}}</td>
    </tr>
    <tr ng-if="isArray(table.data)">
        <td ng-repeat="val in table.data track by $index">{{val}}</td>
    </tr>
    <tr ng-if="!isArray(table.data)" ng-repeat="(key, dt) in table.data track by key">
        <th>{{key}}</th>
        <td ng-repeat="val in dt track by $index">{{val}}</td>
    </tr>
</table>