<div ng-class="{'col-md-12': zoom, 'col-md-4': !zoom}">
    <div class="row">
        <canvas class="col-md-12"></canvas>
    </div>
    <div class="row">
        <div class="col-md-12 clearfix">
            <div class="btn-group btn-group-xs float-right">
                <button ng-click="toggleZoom()" type="button" class="btn btn-primary btn-xs">
                    <span class="bg-icon" ng-class="{'bg-icon-zoom-out': zoom, 'bg-icon-zoom-in': !zoom}"></span>
                </button>
            </div>
        </div>
    </div>
</div>